In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/clean/combined_data.csv')
df

,country,ranking,score,Life_Expectance_at_Birth,gdp_per_capita_ppp,hf_score,hf_rank
0,Albania,107,4.72,78.0,13653.25,8.14,43
1,Algeria,88,5.21,77.1,11627.28,5.26,154
2,Argentina,47,6.09,76.6,22071.75,7.38,74
3,Armenia,116,4.56,76.0,14317.55,8.20,40
4,Australia,11,7.23,83.0,49420.94,8.84,8
...,...,...,...,...,...,...,...
117,Ukraine,133,4.33,73.0,12804.96,6.86,98
118,United Arab Emirates,21,6.82,76.1,71782.16,6.06,131
119,Uruguay,33,6.29,77.1,23552.84,8.36,33
120,Zambia,138,4.11,62.5,3372.36,6.82,102
121,Zimbabwe,146,3.66,60.7,2203.40,5.60,149