In [2]:
import pandas as pd

## Import datasets from 2015 to 2019

In [4]:
df15 = pd.read_csv('../data/raw/2015.csv')
# df15

In [5]:
df16 = pd.read_csv('../data/raw/2016.csv')
# df16

In [6]:
df17 = pd.read_csv('../data/raw/2017.csv')
# df17

In [7]:
df18 = pd.read_csv('../data/raw/2018.csv')
# df18

In [8]:
df19 = pd.read_csv('../data/raw/2019.csv')
# df19

In [9]:
# Standardize column names
def standardize_col_names(df):
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_') 
    df.columns = df.columns.str.replace('.', '_')
    return df

# Check unique values in each column
def check_unique_vals(df):
    for column in df.columns:
        print(f"Unique values in '{column}':")
        print(df[column].unique())
        print()

## 2015 dataset

In [11]:
standardize_col_names(df15)
df15 = df15.drop(columns=['standard_error', 'family', 'dystopia_residual'])
df15.rename(columns={'happiness_rank': 'rank', 'happiness_score': 'score', 'economy_(gdp_per_capita)':'gdp', 'social_support':'support', 'health_(life_expectancy)':'life_expectancy','freedom_to_make_life_choices':'freedom','trust_(government_corruption)':'corruption'}, inplace=True)
df15

,country,region,rank,score,gdp,life_expectancy,freedom,corruption,generosity
0,Switzerland,Western Europe,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.42864,0.59201,0.55191,0.22628
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.31910,0.48450,0.08010,0.18260
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.72193,0.15684,0.18906,0.47179
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.22396,0.11850,0.10062,0.19727
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.28443,0.36453,0.10731,0.16681

In [12]:
check_unique_vals(df15)

Unique values in 'country':
['Switzerland' 'Iceland' 'Denmark' 'Norway' 'Canada' 'Finland'
 'Netherlands' 'Sweden' 'New Zealand' 'Australia' 'Israel' 'Costa Rica'
 'Austria' 'Mexico' 'United States' 'Brazil' 'Luxembourg' 'Ireland'
 'Belgium' 'United Arab Emirates' 'United Kingdom' 'Oman' 'Venezuela'
 'Singapore' 'Panama' 'Germany' 'Chile' 'Qatar' 'France' 'Argentina'
 'Czech Republic' 'Uruguay' 'Colombia' 'Thailand' 'Saudi Arabia' 'Spain'
 'Malta' 'Taiwan' 'Kuwait' 'Suriname' 'Trinidad and Tobago' 'El Salvador'
 'Guatemala' 'Uzbekistan' 'Slovakia' 'Japan' 'South Korea' 'Ecuador'
 'Bahrain' 'Italy' 'Bolivia' 'Moldova' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Lithuania' 'Nicaragua' 'Peru' 'Belarus' 'Poland' 'Malaysia' 'Croatia'
 'Libya' 'Russia' 'Jamaica' 'North Cyprus' 'Cyprus' 'Algeria' 'Kosovo'
 'Turkmenistan' 'Mauritius' 'Hong Kong' 'Estonia' 'Indonesia' 'Vietnam'
 'Turkey' 'Kyrgyzstan' 'Nigeria' 'Bhutan' 'Azerbaijan' 'Pakistan' 'Jordan'
 'Montenegro' 'China' 'Zambia' 'Romania' 'Serbia' 'Portugal' 'Latvia'
 'Philippines' 'Somaliland region' 'Morocco' 'Macedonia' 'Mozambique'
 'Albania' 'Bosnia and Herzegovina' 'Lesotho' 'Dominican Republic' 'Laos'
 'Mongolia' 'Swaziland' 'Greece' 'Lebanon' 'Hungary' 'Honduras'
 'Tajikistan' 'Tunisia' 'Palestinian Territories' 'Bangladesh' 'Iran'
 'Ukraine' 'Iraq' 'South Africa' 'Ghana' 'Zimbabwe' 'Liberia' 'India'
 'Sudan' 'Haiti' 'Congo (Kinshasa)' 'Nepal' 'Ethiopia' 'Sierra Leone'
 'Mauritania' 'Kenya' 'Djibouti' 'Armenia' 'Botswana' 'Myanmar' 'Georgia'
 'Malawi' 'Sri Lanka' 'Cameroon' 'Bulgaria' 'Egypt' 'Yemen' 'Angola'
 'Mali' 'Congo (Brazzaville)' 'Comoros' 'Uganda' 'Senegal' 'Gabon' 'Niger'
 'Cambodia' 'Tanzania' 'Madagascar' 'Central African Republic' 'Chad'
 'Guinea' 'Ivory Coast' 'Burkina Faso' 'Afghanistan' 'Rwanda' 'Benin'
 'Syria' 'Burundi' 'Togo']

Unique values in 'region':
['Western Europe' 'North America' 'Australia and New Zealand'
 'Middle East and Northern Africa' 'Latin America and Caribbean'
 'Southeastern Asia' 'Central and Eastern Europe' 'Eastern Asia'
 'Sub-Saharan Africa' 'Southern Asia']

Unique values in 'rank':
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109
 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158]

Unique values in 'score':
[7.587 7.561 7.527 7.522 7.427 7.406 7.378 7.364 7.286 7.284 7.278 7.226
 7.2   7.187 7.119 6.983 6.946 6.94  6.937 6.901 6.867 6.853 6.81  6.798
 6.786 6.75  6.67  6.611 6.575 6.574 6.505 6.485 6.477 6.455 6.411 6.329
 6.302 6.298 6.295 6.269 6.168 6.13  6.123 6.003 5.995 5.987 5.984 5.975
 5.96  5.948 5.89  5.889 5.878 5.855 5.848 5.833 5.828 5.824 5.813 5.791
 5.77  5.759 5.754 5.716 5.709 5.695 5.689 5.605 5.589 5.548 5.477 5.474
 5.429 5.399 5.36  5.332 5.286 5.268 5.253 5.212 5.194 5.192 5.14  5.129
 5.124 5.123 5.102 5.098 5.073 5.057 5.013 5.007 4.971 4.959 4.949 4.898
 4.885 4.876 4.874 4.867 4.857 4.839 4.8   4.788 4.786 4.739 4.715 4.694
 4.686 4.681 4.677 4.642 4.633 4.61  4.571 4.565 4.55  4.518 4.517 4.514
 4.512 4.507 4.436 4.419 4.369 4.35  4.332 4.307 4.297 4.292 4.271 4.252
 4.218 4.194 4.077 4.033 3.995 3.989 3.956 3.931 3.904 3.896 3.845 3.819
 3.781 3.681 3.678 3.667 3.656 3.655 3.587 3.575 3.465 3.34  3.006 2.905
 2.839]

Unique values in 'gdp':
[1.39651 1.30232 1.32548 1.459   1.32629 1.29025 1.32944 1.33171 1.25018
 1.33358 1.22857 0.95578 1.33723 1.02054 1.39451 0.98124 1.56391 1.33596
 1.30782 1.42727 1.26637 1.36011 1.04424 1.52186 1.06353 1.32792 1.10715
 1.69042 1.27778 1.05351 1.17898 1.06166 0.91861 0.9669  1.39541 1.23011
 1.2074  1.29098 1.55422 0.99534 1.21183 0.76454 0.74553 0.63244 1.16891
 1.27074 1.24461 0.86402 1.32376 1.25114 0.68133 0.59448 0.75985 1.12254
 1.18498 1.14723 0.59325 0.90019 1.03192 1.12555 1.12486 1.08254 1.13145
 1.13764 0.81038 1.20806 1.20813 0.93929 0.80148 0.95847 1.00761 1.38604
 1.15174 0.82827 0.63216 1.06098 0.47428 0.65435 0.77042 1.02389 0.59543
 0.90198 0.97438 0.89012 0.47038 1.04345 0.92053 1.15991 1.11312 0.70532
 0.18847 0.73479 0.91851 0.08308 0.87867 0.83223 0.37545 0.89537 0.59066
 0.82819 0.71206 1.15406 1.02564 1.12094 0.59532 0.39047 0.88113 0.59867
 0.39753 1.0088  0.79907 0.98549 0.92049 0.54558 0.271   0.0712  0.64499
 0.52107 0.26673 0.      0.35997 0.19073 0.33024 0.45407 0.36471 0.44025
 0.76821 0.99355 0.27108 0.7419  0.01604 0.83524 0.4225  1.01216 0.8818
 0.54649 0.75778 0.26074 0.67866 0.23906 0.21102 0.36498 1.06024 0.0694
 0.46038 0.2852  0.20824 0.0785  0.34193 0.17417 0.46534 0.25812 0.31982
 0.22208 0.28665 0.6632  0.0153  0.20868]

Unique values in 'life_expectancy':
[0.94143 0.94784 0.87464 0.88521 0.90563 0.88911 0.89284 0.91087 0.90837
 0.93156 0.91387 0.86027 0.89042 0.81444 0.86179 0.69702 0.91894 0.89533
 0.89667 0.80925 0.90943 0.76276 0.72052 1.02525 0.79661 0.89186 0.85857
 0.79733 0.94579 0.78723 0.84483 0.8116  0.69077 0.7385  0.72025 0.95562
 0.88721 0.8753  0.72492 0.6082  0.61483 0.67737 0.64425 0.59772 0.78902
 0.99111 0.96538 0.79075 0.74716 0.95446 0.5392  0.61826 0.66098 0.64368
 0.87337 0.73128 0.74314 0.73017 0.73608 0.77903 0.72394 0.78805 0.7038
 0.66926 0.68741 0.92356 0.61766 0.63132 0.53886 0.7095  1.01328 0.77361
 0.63793 0.74676 0.73172 0.65088 0.16007 0.57407 0.64045 0.51466 0.69639
 0.72521 0.81658 0.29924 0.7689  0.74836 0.87519 0.72437 0.58114 0.43873
 0.60954 0.73545 0.09131 0.81325 0.79081 0.07612 0.66825 0.54909 0.60268
 0.07566 0.88213 0.83947 0.75905 0.6951  0.57379 0.73793 0.66015 0.60164
 0.69805 0.6739  0.60237 0.27688 0.40132 0.33475 0.34201 0.51529 0.36878
 0.38847 0.09806 0.56874 0.44055 0.      0.35874 0.41435 0.36291 0.7299
 0.04776 0.48246 0.72926 0.22562 0.70806 0.23402 0.76649 0.61712 0.40064
 0.16683 0.20583 0.31051 0.36315 0.33861 0.4354  0.43372 0.29707 0.61114
 0.38215 0.46721 0.06699 0.1501  0.24009 0.15185 0.27125 0.30335 0.42864
 0.3191  0.72193 0.22396 0.28443]

Unique values in 'freedom':
[0.66557 0.62877 0.64938 0.66973 0.63297 0.64169 0.61576 0.6598  0.63938
 0.65124 0.41319 0.63376 0.62433 0.48181 0.54604 0.49049 0.61583 0.61777
 0.5845  0.64157 0.59625 0.63274 0.42908 0.54252 0.5421  0.61477 0.44132
 0.6404  0.55011 0.44974 0.46364 0.60362 0.53466 0.55664 0.31048 0.45951
 0.60365 0.3974  0.55499 0.59657 0.55884 0.4035  0.57733 0.65821 0.31751
 0.49615 0.33208 0.48574 0.45492 0.26236 0.57414 0.32818 0.53899 0.51649
 0.60855 0.21342 0.55475 0.41496 0.37938 0.53122 0.53024 0.25883 0.41668
 0.36679 0.50442 0.49027 0.40672 0.28579 0.24749 0.4761  0.56066 0.59608
 0.44888 0.46611 0.59444 0.22815 0.43477 0.34334 0.53206 0.3703  0.12102
 0.40661 0.1826  0.51697 0.48827 0.35068 0.20107 0.51469 0.29671 0.62545
 0.46582 0.41691 0.33457 0.34037 0.35733 0.09245 0.31767 0.57672 0.59591
 0.43626 0.30658 0.07699 0.33916 0.32112 0.40148 0.47216 0.26268 0.24499
 0.4082  0.30033 0.25123 0.      0.33207 0.42342 0.25861 0.28531 0.39786
 0.10081 0.24425 0.22605 0.38282 0.4345  0.4084  0.24232 0.42215 0.46074
 0.19847 0.49495 0.44017 0.40577 0.43054 0.53726 0.49309 0.30587 0.17288
 0.35571 0.10384 0.38857 0.41466 0.22917 0.45727 0.36772 0.31914 0.47692
 0.66246 0.32878 0.19184 0.48879 0.23501 0.37725 0.46866 0.39493 0.23414
 0.59201 0.4845  0.15684 0.1185  0.36453]

Unique values in 'corruption':
[0.41978 0.14145 0.48357 0.36503 0.32957 0.41372 0.31814 0.43844 0.42922
 0.35637 0.07785 0.10583 0.18676 0.21312 0.1589  0.17521 0.37798 0.28703
 0.2254  0.38583 0.32067 0.32524 0.11069 0.4921  0.0927  0.21843 0.12869
 0.52208 0.20646 0.08484 0.02652 0.24558 0.0512  0.03187 0.06398 0.13586
 0.08129 0.25609 0.13633 0.0114  0.11776 0.09472 0.30826 0.03431 0.1806
 0.07857 0.1809  0.306   0.02901 0.088   0.01615 0.08242 0.08454 0.03787
 0.01031 0.19317 0.05989 0.1909  0.04212 0.10501 0.0243  0.11023 0.03005
 0.02299 0.1428  0.06146 0.17383 0.04741 0.30844 0.07521 0.37124 0.15184
 0.      0.10441 0.15746 0.04232 0.0403  0.15445 0.16065 0.10464 0.14293
 0.14296 0.02781 0.12468 0.00649 0.02617 0.01078 0.06332 0.12279 0.39928
 0.08546 0.05327 0.15603 0.06413 0.00227 0.12504 0.14234 0.24249 0.02666
 0.0306  0.01397 0.04582 0.02758 0.06825 0.15072 0.06358 0.12905 0.12569
 0.05863 0.02961 0.13788 0.08884 0.04355 0.08079 0.06232 0.08492 0.1466
 0.17175 0.07625 0.05907 0.15048 0.08786 0.17461 0.05839 0.28105 0.039
 0.12474 0.19034 0.38331 0.06977 0.09179 0.05786 0.00872 0.06324 0.07854
 0.07122 0.12352 0.11686 0.199   0.07267 0.10713 0.11091 0.15639 0.07247
 0.05747 0.08124 0.08289 0.05269 0.12139 0.17922 0.12832 0.09719 0.55191
 0.0801  0.18906 0.10062 0.10731]

Unique values in 'generosity':
[0.29678 0.4363  0.34139 0.34699 0.45811 0.23351 0.4761  0.36262 0.47501
 0.43562 0.33172 0.25497 0.33088 0.14074 0.40105 0.14574 0.28034 0.45901
 0.2225  0.26428 0.51912 0.21542 0.05841 0.31105 0.24434 0.28214 0.33363
 0.32573 0.12332 0.11451 0.10686 0.2324  0.18401 0.5763  0.13706 0.18227
 0.51752 0.25376 0.16228 0.16991 0.31844 0.10692 0.27489 0.22837 0.16893
 0.10705 0.18557 0.11541 0.17362 0.22823 0.20536 0.20951 0.3424  0.11827
 0.25328 0.02641 0.27815 0.14982 0.11046 0.16759 0.33075 0.05444 0.18295
 0.00199 0.2123  0.26169 0.30638 0.07822 0.2831  0.16979 0.37744 0.39478
 0.0868  0.51535 0.1686  0.12253 0.3003  0.27233 0.47998 0.07799 0.33671
 0.11053 0.1614  0.08185 0.19591 0.13748 0.19231 0.13719 0.18226 0.24991
 0.50318 0.07172 0.22359 0.22269 0.14272 0.24808 0.16388 0.21684 0.42192
 0.3323  0.18259 0.      0.21854 0.128   0.23027 0.22974 0.06431 0.11251
 0.21222 0.38086 0.15275 0.17922 0.11973 0.23087 0.18987 0.24362 0.26475
 0.19062 0.46187 0.24834 0.32296 0.24325 0.21488 0.219   0.37542 0.18093
 0.07855 0.10461 0.79588 0.05547 0.33128 0.40828 0.20618 0.11921 0.11291
 0.09131 0.12344 0.18798 0.12388 0.17441 0.29066 0.20843 0.06822 0.19387
 0.40359 0.34377 0.21333 0.23835 0.18386 0.28657 0.20165 0.21747 0.3651
 0.22628 0.1826  0.47179 0.19727 0.16681]

## 2016 dataset

In [14]:
standardize_col_names(df16)
df16 = df16.drop(columns=['lower_confidence_interval', 'upper_confidence_interval', 'family', 'dystopia_residual'])
df16.rename(columns={'happiness_rank': 'rank', 'happiness_score': 'score', 'economy_(gdp_per_capita)':'gdp', 'social_support':'support', 'health_(life_expectancy)':'life_expectancy','freedom_to_make_life_choices':'freedom','trust_(government_corruption)':'corruption'}, inplace=True)
df16

,country,region,rank,score,gdp,life_expectancy,freedom,corruption,generosity
0,Denmark,Western Europe,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171
1,Switzerland,Western Europe,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083
2,Iceland,Western Europe,3,7.501,1.42666,0.86733,0.56624,0.14975,0.47678
3,Norway,Western Europe,4,7.498,1.57744,0.79579,0.59609,0.35776,0.37895
4,Finland,Western Europe,5,7.413,1.40598,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.17344,0.16430,0.07112,0.31268
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.24811,0.34678,0.11587,0.17517
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.62994,0.06912,0.17233,0.48397
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.15747,0.04320,0.09419,0.20290

## 2017

In [16]:
standardize_col_names(df17)
df17 = df17.drop(columns=['whisker_high', 'whisker_low', 'family', 'dystopia_residual'])
df17.rename(columns={'happiness_rank': 'rank', 'happiness_score': 'score', 'economy__gdp_per_capita_':'gdp', 'social_support':'support', 'health__life_expectancy_':'life_expectancy','freedom_to_make_life_choices':'freedom','trust__government_corruption_':'corruption'}, inplace=True)
df17

,country,rank,score,gdp,life_expectancy,freedom,generosity,corruption
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.018773,0.270842,0.280876,0.056565

## 2018

In [18]:
standardize_col_names(df18)
df18.rename(columns={'overall_rank': 'rank', 'country_or_region': 'country', 'gdp_per_capita':'gdp', 'social_support':'support', 'healthy_life_expectancy':'life_expectancy','freedom_to_make_life_choices':'freedom','perceptions_of_corruption':'corruption'}, inplace=True)
df18

,rank,country,score,gdp,support,life_expectancy,freedom,generosity,corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

## 2019

In [20]:
# clean column names
standardize_col_names(df19)
df19.rename(columns={'overall_rank': 'rank', 'country_or_region': 'country', 'gdp_per_capita':'gdp', 'social_support':'support', 'healthy_life_expectancy':'life_expectancy','freedom_to_make_life_choices':'freedom','perceptions_of_corruption':'corruption'}, inplace=True)
df19

# check datatypes
print('\ndata types\n')
print(df19.dtypes)

print(df19.nunique())

data types

rank                 int64
country             object
score              float64
gdp                float64
support            float64
life_expectancy    float64
freedom            float64
generosity         float64
corruption         float64
dtype: object
rank               156
country            156
score              155
gdp                146
support            145
life_expectancy    119
freedom            130
generosity         118
corruption         113
dtype: int64

### Some conclusions
- 2018 and 2019 have data on social support ('support' column)
- not all datasets have the 'region' information -> can be found, but we first need to decide whether it is important
-